<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
 	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
 	<link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
 	<link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>

<body>
	<header>
		<div class="header_main">
			<nav class="navbar navbar-expand-lg navbar-light px-5">
			  <a class="navbar-brand" href="#">dunlopillo</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav ml-auto ">
			      <li class="nav-item active">
			        <a class="nav-link" href="#">Pillows</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Mattresses</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Divan bases</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Headboards</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Our Blog</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="#">Find a Retailer</a>
			      </li>
			      
			    </ul>
			  </div>
			</nav>
		</div>
	</header>
	<section>
		<div class="main_container">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 px-0">
						<div class="page_banner px-5 ">
							<div class="banner_overlay"></div>
							<div class="row">
								<div class="col-sm-5 banner_title py-5">
									<h1 class="text-white">A natural <br>nights sleep</h1>
									<p class="text-uppercase text-white">the Ethical Matresses</p>
								</div>
								<div class="col-sm-7 banner_video">
									<img src="images/banner-right.png" class="w-100">
								</div>
								<div class="col-sm-12 display_item mt-5">
									<div class="best_buy">
										<div class="best_product row">
											<div class="col-sm-5 pl-0">
												<img src="images/best-buy.png">
											</div>
											<div class="col-sm-7 px-0 details_part">
												<p class="text-uppercase text-blue">Best Buy</p>
												<h6 class="text-uppercase text-subhead">Millenium</h6>
												<p class="text-grey">Intibus sapicaeperum faccaec epudae ius, ut evelit eum hario.</p>
											</div>
										</div>
									</div>
									<div class="all_product">
										<div class="product_list pl-0 pr-2">
											<div>
												<img src="images/signature.png">
												<p class="text-uppercase text-subhead">Signiture</p>
											</div>
										</div>
										<div class="product_list px-1">
											<div>
												<img src="images/signature2.png">
												<p class="text-uppercase text-subhead">Dunlopillo Go</p>
											</div>
										</div>
										<div class="product_list pr-0 pl-2">
											<div>
												<img src="images/signature3.png">
												<p class="text-uppercase text-subhead">Divas Bases</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="our_mission pl-5 my-5">
							<div class="row mx-0">
								<div class="col-sm-6">
									<div class="comfort_text pt-5">
										<h6 class="text-uppercase text-grey">Our Mission</h6>
										<h1 class="text-subhead pb-4">Sustainable comfort</h1>
										<p class="text-grey">Sleep easy with our environmentally friendly mattresses, made from natural latex rubber. All our latex is harvested from sustainably managed plantations, which purify over 90 million tons of carbon dioxide a year.</p>
										<ul class="mt-4 pl-4">
											<li>
												<span class="text-blue text-uppercase">7 comfort zones</span>
											</li>
											<li>
												<span class="text-blue text-uppercase">Pressure Relieving</span>
											</li>
											<li>
												<span class="text-blue text-uppercase">Breathable</span>
											</li>
											<li>
												<span class="text-blue text-uppercase">Progressive comfort</span>
											</li>
											<a href="javascript:void(0)" class="text-uppercase shop_bttn">Shop mattresses</a>
										</ul>
									</div>
								</div>
								<div class="col-sm-6 mission_img pr-0">
									<img src="images/mission-right.png" class="w-100">
								</div>
							</div>
						</div>
						<div class="green_night_section px-5 py-5">
							<div class="greennight_overlay">
								<img src="images/green-right.png">
							</div>
							<div class="">
								<p class="text-uppercase">Our Values</p>
								<h1 class="mb-5">A green nights sleep</h1>
								<div class="row sleep_section py-4">
									<div class="col-sm-4">
										<div class="blog_parts">
											<div class="blog_img">
												<img src="images/ethical.png">
											</div>
											<div class="description_sec">
												<h6 class="text-uppercase pb-2 text-subhead">Ethical Practice</h6>
												<p class="text-grey">We're committed to providing you with the best service.</p>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="blog_parts">
											<div class="blog_img">
												<img src="images/ethical.png">
											</div>
											<div class="description_sec">
												<h6 class="text-uppercase pb-2 text-subhead">Natural Resources</h6>
												<p class="text-grey">We're committed to providing you with the best service.</p>
											</div>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="blog_parts">
											<div class="blog_img">
												<img src="images/ethical.png">
											</div>
											<div class="description_sec">
												<h6 class="text-uppercase pb-2 text-subhead">Enviromental</h6>
												<p class="text-grey">We're committed to providing you with the best service.</p>
											</div>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						<div class="our_promise col-sm-12">
							<div class="promise_section row">
								<div class="col-sm-6 promise_img px-0">
									<img src="images/promise1.png" class="w-100">
								</div>
								<div class="col-sm-6 promise_text">
									<div>
										<p class="text-uppercase text-grey">our Promise</p>
										<h1 class="pb-2 text-subhead">Transform your night</h1>
										<p class="text-grey">We take sleep seriously, crafting contemporary designs that blend style with comfort. Enjoy the ultimate sleep experience with our durable mattresses, made from sustainably sourced latex and perfectly engineered for natural resistance and hold. </p>
									</div>
								</div>
							</div>
							<div class="promise_section row">
								<div class="col-sm-6 promise_img order2 px-0">
									<img src="images/promise2.png" class="w-100">
								</div>
								<div class="col-sm-6 promise_text">
									<div>
										<p class="text-uppercase text-grey">our Promise</p>
										<h1 class="pb-2 text-subhead">The science of sleep</h1>
										<p class="text-grey">Wake up feeling fresh, clean and healthy, with the help of our Actipro™ technology. Used in the fabric of our mattresses, it provides natural protection against allergens, dust mites, and odours, ensuring you get the best night’s sleep, every night. </p>
									</div>
								</div>
							</div>
						</div>
						<div class="shownow_section col-sm-12 py-5 ">
							<div class="shopnow_overlay"></div>
							<div class="row">
								<div class="col-sm-12">
									<div class="shopow_banner py-5 text-center ">
										<h1 class="text-white">Ready for a natural nights sleep?</br>Head to our shop –</h1>
										<div class="shopnow_bttns mt-5">
											<a href="javascript:void(0)" class="text-uppercase now_bttn">Shop Now</a>
											<a href="javascript:void(0)" class="text-uppercase learn_bttn">Learn More</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<div class="footer_main px-5 pt-5 pb-3">
						<div class="footer_menu">
							<ul>
								<li class="pl-0">
									<a href="javascript:void(0)" class="text-grey">
										<span>Mattresses</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)"  class="text-grey">
										<span>Divan bases</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)"  class="text-grey">
										<span>Headboards</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" class="text-grey">
										<span>The review</span>
									</a>
								</li>
							</ul>
							<ul class="float-right">
								<li>
									<a href="javascript:void(0)" class="text-grey">
										<span>Delivery</span>
									</a>
								</li>
								<li>
									<a href="javascript:void(0)" class="text-grey">
										<span>Stockists</span>
									</a>
								</li>
								<li class="pr-0">
									<a href="javascript:void(0)" class="text-grey">
										<span>FAQ</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="footer_details">
							<div class="listing_section pr-5">
								<h6 class="text-uppercase text-grey mb-3">Steinhoff UK Beds Ltd.</h6>
								<p class="text-grey">Registered no. 08431253</br>VAT No. GB 506 3312 84</p>
							</div>
							<div class="listing_section pr-5">
								<h6 class="text-uppercase text-grey mb-3">Address</h6>
								<p class="text-grey">5th Floor, Festival House, Jessop </br>Avenue, Cheltenham, </p>
							</div>
							<div class="listing_section">
								<h6 class="text-uppercase text-grey mb-3">Contact</h6>
								<p class="mb-0">
									<a href="tel:+0800 158 4842" class="text-grey">0800 158 4842</a>
								</p>
								<p>
									<a href="mailto:info@slumberland.co.uk" target="_top"  class="text-blue">info@slumberland.co.uk</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>

</html>