{% extends "block.html.twig" %}
{#
/**
 * @file
 * Theme override for tabs.
 */
#}
{% block content %}
  {% if content %}
    <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
      <div class="local-tasks-content">{{ content }}</div>
      <div class="local-tasks-arrow">
        <svg width="11" height="25" viewBox="0 0 11 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 23.9965L9.19948 12.6379L1.40141 1.00002" stroke="white" stroke-width="1.7"/>
        </svg>
      </div>
    </nav>
  {% endif %}
{% endblock %}
