$black: #000000;
$white: #FFFFFF;
//
$primary-red: #ED423C;
$secondary-pink: #FFCFCC;
$secondary-blue: #102867;
$text: #828282;
//
$black-rock: #2B313C;
$white-alpha-5: rgba($white, 0.5);
$bridesmaid: #FDEFEE;
$iron: #CCCCCC;
$catskill-white: #ECF5F7;
$misty-rose: #FFE5E3;
