@font-face {
  font-family: Biryani;
  src: url('../fonts/biryani-bold-webfont.woff2') format('woff2'),
  url('../fonts/biryani-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Biryani;
  src: url('../fonts/biryani-demibold-webfont.woff2') format('woff2'),
  url('../fonts/biryani-demibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
